<p id="notice"><%= notice %></p>

<h1>Listing Lecture Informations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecture_informations.each do |lecture_information| %>
      <tr>
        <td><%= link_to 'Show', lecture_information %></td>
        <td><%= link_to 'Edit', edit_lecture_information_path(lecture_information) %></td>
        <td><%= link_to 'Destroy', lecture_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture information', new_lecture_information_path %>
