<div class="row">
  <section class="col-lg-8">
    <dl class="lecture_dl">
      <div class="item_head">
        <dt class="lecture">
        <%= @lecture_information.name %>
        </dt>
        <dd class="college">
        <span><%= @lecture_information.college.university.name%></span>
        <span><%= @lecture_information.college.name%></span>
        </dd><!-- /.college -->
      </div>
      <dd>
      <dl>
        <dt class="subject">
        <span>作成者  <%= @lecture_information.user.name%>さん</span>
        </dt>
        <!-- /.subject -->
        <dd class="apartContents">
        <div><div><div><div><div>
                  <div>
                    <div class="year"><div><div><div><div>
                              <dl>
                                <dt>教授名</dt>
                                <dd><%= @lecture_information.teacher %></dd>
                              </dl>
                            </div></div></div></div></div><!-- /.year -->
                    <div class="item_price"><div><div><div><div>
                                      <dl>
                                        <dt>難易度</dt>
                                        <dd><%= @lecture_information.difficulty%></dd>
                                      </dl>
                                    </div></div></div></div></div><!-- /.item_price -->
                  </div>
                  <div class="apartBox">
                    <div class="test"><div><div><div><div>
                              <dl>
                                <dt>詳細</dt>
                                <dd>
                                <p>
                                  <%= @lecture_information.detail %>
                                </p>
                                </dd>
                              </dl>
                            </div></div></div></div></div><!-- /.test -->
                  </div><!-- /.apartBox -->
                </div></div></div></div></div>
        </dd><!-- /.apartContents -->
      </dl>
      </dd>
    </dl>

    <%= link_to '戻る', :back ,:class => 'btn btn-default'  %>
    <% if @lecture_information.user_id == current_user.id %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_lecture_information_path(@lecture_information), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        lecture_informations_path,
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
    <% end %>
</section>
<section class="col-lg-4">
  <div>広告</div>
</section>
</div>
<%= link_to 'Edit', edit_lecture_information_path(@lecture_information) %> |
<%= link_to 'Back', lecture_informations_path %>
