<div class="form_left_fix">
<%= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, label:'ノート名' %>
  <%= f.input :detail, label:'詳細' %>
  <div class="form-group">
    <%= label :to_college,:university_id,'学校', :class => "control-label"%>
    <%= collection_select :to_college,:university_id, University.all, :id, :name,{:prompt => "学校を選択してください。"},:class => "form-control searchable" %>
  </div>
    <div class="form-group">
    <%= f.label :college_id, label:'配置学部', :class => "control-label"%>
  <%= f.collection_select :college_id, @colleges, :id, :name,{},:class => "form-control",:prompt => "学部を選択してください。" %>
  </div>
  <%= f.input :year, label:'受講年度' %>
  <%= f.input :price, label:'価格' %>
  <div class="form-group" >
    <%= f.label :hand_over_way, label:'受け渡し方法', :class => 'control-label' %>
    <%= select :hand_over_way, :name, {"学校で手渡し" => 0, "pdf" => 1},{:prompt => '受け渡し方法を選択してください。'}, {class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file,class: 'filestyle' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn btn-default' %>
            <% end %>

