<%= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :detail %>
  <div class="form-group">
  <%= f.label :college_id, :class => "control-label"%>
  <%= f.collection_select :college_id, College.all, :id, :name,{},:class => "form-control",:prompt => "学部を選択してください。" %>
  </div>
  <%= f.input :price %>
  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file,class: 'filestyle' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn btn-default' %>
<% end %>
