<div class="row">
<section class="col-lg-6">
<%- model_class = Item -%>
<div class="page-header">
  <h1>出品リスト</h1>
</div>
<%= search_form_for @q do |f| %>
  <%# start 特定の文字列で始まる商品名で検索 %>
  <%= f.label :title_cont, "商品名", :class => "control-label" %>
  <%= f.search_field :title_cont, :class => "form-control" %>
  <br />
  <%# cont 文字列が含まれる商品説明で検索（not_cont で含まれない商品説明） %>
  <%= f.label :college_id_eq, "学部",:class => "control-label" %>
  <%= f.search_field :college_id_eq,:class => "form-control" %>
  <br />
  <%# lt で特定の数値より下で検索（gt はより上、eq は同じ、gteqやlteqなどもできる） %>
  <%= f.label :price_lt, "値段(以下)",:class => "control-label" %>
  <%= f.search_field :price_lt,:class => "form-control" %>
  <br />
  <%# 検索ボタン %>
  <%= f.submit %>
<% end %>
<% @items.each do |item| %>
<dl class="lecture_dl">
      <div class="item_head">
        <dt class="lecture">
        <%= item.title %>
        </dt>
        <dd class="college">
        <span><%= item.user.college.university.name%></span>
        <span><%= item.college.name%></span>
        </dd><!-- /.college -->
      </div>
      <dd>
      <dl>
        <dt class="subject">
        <span>作成者  <%= item.user.name%>さん</span>
        </dt>
        <!-- /.subject -->
        <dd class="apartContents">
        <div><div><div><div><div>
                  <div>
                    <div class="year"><div><div><div><div>
                              <dl>
                                <dt>授業を受けた年</dt>
                                <dd><%= item.year%>年</dd>
                              </dl>
                            </div></div></div></div></div><!-- /.year -->
                    <div class="item_price"><div><div><div><div>
                                      <dl>
                                        <dt>希望価格</dt>
                                        <dd><%= item.price%>円</dd>
                                      </dl>
                                    </div></div></div></div></div><!-- /.item_price -->
                  </div>
                  <div class="apartBox">
                    <div class="test"><div><div><div><div>
                              <dl>
                                <dt>詳細</dt>
                                <dd>
                                <p>
                                  <%= item.detail %>
                                </p>
                                </dd>
                              </dl>
                            </div></div></div></div></div><!-- /.test -->
                  </div><!-- /.apartBox -->
                </div></div></div></div></div>
        </dd><!-- /.apartContents -->
      </dl>
      </dd>
</dl>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
</section>
